{% load my_tags %}
<div class="col">
    <div class="card shadow-sm">
        <img class="card-img-top object-fit-cover " style="height:250px;"
                {#             src="/catalog/media/{{ object.image }}">#}
             src="{{ object.image|mymedia }}"
{#             src="{% mediapath object.image%}"#}

             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">{{ object.name_category }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product' object.pk %}" type="button" class="btn btn-sm
                    btn-outline-secondary">К товару</a>
                </div>
            </div>
        </div>
    </div>
</div>
